**/.idea
**/*.iml
**/target
trunk/calendar-backend/*.iml
trunk/calendar-backend/.idea
trunk/calendar-backend/target
trunk/calendar-web/*.iml
trunk/calendar-web/.idea
trunk/calendar-web/target
trunk/calendar-gui/*.iml
trunk/calendar-gui/.idea
trunk/calendar-gui/target
derby.log
trunk/derby.log
