<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:database.properties"/>

    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource">
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.user}"/>
        <property name="password" value="${db.password}"/>
        <property name="driverClassName" value="${db.driver}" />
    </bean>

    <context:component-scan base-package="cz.muni.fi.pv168.calendar" />

    <tx:annotation-driven/>

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="eventManager" class="cz.muni.fi.pv168.calendar.service.impl.EventManagerImpl"
          scope="singleton">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="reminderManager" class="cz.muni.fi.pv168.calendar.service.impl.ReminderManagerImpl"
          scope="singleton">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="remindersManager" class="cz.muni.fi.pv168.calendar.service.impl.RemindersManagerImpl"
          scope="singleton">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="userManager" class="cz.muni.fi.pv168.calendar.service.impl.UserManagerImpl"
          scope="singleton">
        <constructor-arg ref="dataSource"/>
    </bean>
</beans>
